<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Screen</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Overpass+Mono|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link href="Home.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <a class="title" href="#"><h1>MovieFlix</h1></a>
        <a class="signinbutton" href="Login.html">Sign in</a>
    </div>
    <div class="center">
    <div class="content">
        <h1>Select the plan </h1>
        <p>You can cancel anytime</p>
    </div>
        <div class="plans">
            <div class="cellsheader">
            <div class="cells">Basic $7.99</div>
            <div class="cells">Standard $8.99</div>
            <div class="cells">Premium $9.99</div>
            </div>
            <div class="rowsheader">
                <div class="row1">Monthly prices after free trial expires</div>
            </div>
        </div>
            <button class="btn" type="submit"> Continue </button>
    </div>
    <footer>
        <div class="footerclass">
            <p class="questions">Questions? Call  <a class="contact" href="#">1-123-456-7890</a>  </p>
            <ul class="footerlist">
                <a href="#"> <li>Help Center</li></a>
                <a href="Login.html"><li>Account</li></a>
                <a href="#"><li>Gift Cards</li></a>
                <a href="#"> <li>Privacy</li></a>
                <a href="#"> <li>FAQ</li></a>
                <a href="#"> <li>Terms of Use</li></a>
            </ul>
            <div class="icons">
                <h3>
                    <a href="https://www.facebook.com/"> <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true fa-lg"></i></a>
                    <a href="https://plus.google.com/"><i class="fa fa-google-plus-official" aria-hidden="true fa-lg"></i></a>
                </h3>
            </div>
        </div>
    </footer>
</div>
</body>
</html>