<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <link href="Welcome-page.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
</head>
<body>

<div class="container">
    <header>
        <h1>MovieFlix</h1>
        <nav class="top-row">
            <a class="signupbutton" href="sign-up.html"><span><b>Sign up to explore more</b></span></a>
            <a class="signinbutton" href="Login.html"><b>Sign in</b></a>
        </nav>

    </header>
    <footer>
        <div class="footerclass">
            <p class="questions">Questions? Call  <a class="contact" href="#">1-123-456-7890</a>  </p>
            <ul class="footerlist">
                <a href="#"> <li>Help Center</li></a>
                <a href="Login.html"><li>Account</li></a>
                <a href="#"><li>Gift Cards</li></a>
                <a href="#"> <li>Privacy</li></a>
                <a href="#"> <li>FAQ</li></a>
                <a href="#"> <li>Terms of Use</li></a>
            </ul>
            <div class="icons">
                <h3>
                    <a href="https://www.facebook.com/"> <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true fa-lg"></i></a>
                    <a href="https://plus.google.com/"><i class="fa fa-google-plus-official" aria-hidden="true fa-lg"></i></a>
                </h3>
            </div>
        </div>
    </footer>
</div>

</body>
</html>